.change-password-main-container{
    width: 100%;
    height: 100%;
    padding: 30px 55px;
    font-family: 'Neue Montreal',sans-serif;
}
.change-password-main-container .profile-back{
    font-size: 20px;
    cursor: pointer;
}
.change-password-main-container .profile-back a{
    color: black;
    text-decoration: none;
}
.profile-back span{
    margin-right: 8px;
}
.change-password-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.change-password-inner .form-container{
    max-width: 400px;
    width: 100%;
    background-color: white;
}
.form-container h2{
    text-align: start;
    font-size: 23px;
    letter-spacing: 0.9px;
    margin-bottom: 14px;
}
.form-container .input-field{
    width: 100%;
}
.input-field input{
    width: 100%;
    border: 1px solid #ccc;
    letter-spacing: 1.1px;
    padding: 7px 6px;
    border-radius: 3px;
    margin-top: 17px;
    font-family: 'Neue Montreal',sans-serif;
    resize: none;
    font-size:15px;
    transition: 0.2s ease;
}
.input-field input:focus{
  outline: none;
  border-color: #000;
  box-shadow: 0 0 0 3px rgba(211, 206, 203, 0.2);
  background-color: #fffdf9;
}
.input-submit input{
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 27px;
    font-size: 15px;
    padding: 9px 0px;
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease-in;
}
.input-submit input:hover{
    scale: 1.04;
}
.change-password-inner .image-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box .change-password-image{
    width: 300px;
    height: 350px;
}
.image-box .edit-password-image{
    width: 550px;
    height: 350px;
}
.error-msg{
    color: red;
    font-size: 14px;
    margin-top: 1px;
    text-align: start;
}
@media (max-width: 910px) {
    .change-password-inner{
        padding: 30px 0px;
    }
    .change-password-inner .form-container{
        max-width: 100%;
    }
    .change-password-inner .image-box{
        display: none;
    }
}