@font-face {
    font-family: 'Octin Stencil';
    src: url(../fonts/octin_stencil_free.ttf);
}
@font-face {
    font-family: 'Neue Montreal';
    src: url(../fonts/PPNeueMontreal-Book.otf);
}
@font-face {
    font-family: 'Neue Montreal Bold';
    src: url(../fonts/PPNeueMontreal-Bold.otf);
}
@font-face {
    font-family: 'Helvetica Mow Text';
    src: url(../fonts/HelveticaNowText-Regular.ttf);
}
@font-face {
    font-family: 'Touchme';
    src: url(../fonts/touchme-sans-petite-regular.otf);
}
@font-face {
    font-family: 'Migra';
    src: url(../fonts/MigraItalic-ExtralightItalic.ttf);
}
@font-face {
    font-family: 'Futura Now Headline';
    src: url(../fonts/FuturaNowHeadlineExtraBold.ttf);
}
@font-face {
    font-family: 'Helvetic Neue';
    src: url(../fonts/HelveticaNeueMedium.otf);
}
@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: 'Mr Stalwart';
    src: url(../fonts/Mr_Stalwart_Regular.ttf);
}
@font-face {
    font-family: 'Michroma';
    src: url(../fonts/Michroma.ttf);
}